.company-awards{
    margin-top: 160px;
  }
  .award-heading{
    margin-left: 7%;
    /* margin-right: 7%; */
  }
  #award-head{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    /* or 150% */
    text-align: center;
    color: #4B5159;
  }
  .award-section1{
    margin-top: 120px;
    margin-left: 10%;
    display: flex;
  }
  .award-main{
    height: 300px;
    margin-right: 15%;
  }
  .award-img1{
    padding-left: 55px;
    padding-right: 30px;
    width: 264px;
    height: 120px;
    /* margin: auto; */
  }
  .award-descp{
    width:263px;
    /* height:px; */
    text-align: center;
  } 
  #descp{
    padding-top: 24px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    color: #2C323C;
  }
  .award-img3{
    padding-left: 55px;
  }
  .award-section2{
    margin-top: 92px;
    margin-left: 10%;
    display: flex;
  }
  .award-img5{
    padding-left: 70px;
  }
  .award-img4{
    padding-left: 45px;
  }