/* body{
    overflow-x: hidden;
}
.timeline-body{
    margin-top: 164px;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
    width: 100%;
  }
  .h{
    position: relative; 
   color: #2C323C;
  
   height: 48px;

   top: 0px;
   margin: auto;
  
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 48px;
  
  text-align: center;
  letter-spacing: -0.01em;
  
  order: 0;
  flex-grow: 0;
  margin: 8px 0px;
  }
  .d p{
    font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
 
  
  text-align: center;
  letter-spacing: -0.01em;
  

  
  color: #70757B;
  }
  
  .timeline {
    position: relative;
    max-width: 1200px;
    margin-right:134px;
    padding-bottom: 100px;
    z-index:-1;
  
  }
  
  
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-image: linear-gradient(#3BB0A0,#2D7475,#3BB0A0,#2D7475,#3BB0A0,#2D7475);
    top: 0;
    bottom: 0;
    left: 33%;
    margin-left: 18.5%;
    height: 740px;
    margin-top: 267px
    }
  
 
  .timeline-container {
    width: 100%;
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
  
  }
  
 
  .timeline-container::after {
    content: '';
    position: absolute;
    width: 126px;
    height: 126px;
    right: -65px; 
    background: #E5E5E5;
    background-image: url("../../images/Bank.png");
    background-position: center;
    background-repeat: no-repeat;
    border: 6px solid #3BB0A0;
    box-sizing: border-box;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
    margin-left: -200px;
  }
  
  
  
  .right {
    left: 50%;
  }
  
  
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  

  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 186px;
    width: 0;
    z-index: 1;
    left: 110px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  

  .right::after {
    left: -74px;
    margin-top: 126px;
  }
  
  
  .content {
    padding: 20px 30px;
    background: #EFF9F8;
    position: relative;
    border-radius: 30px;
    margin-top: 126px;
    margin-left: 80px;
    font-family: Nunito;
  font-style: normal;
   width:54%;

  line-height: 32px;
  color:#007464;
  }
  

  @media screen and (max-width: 600px) {
 
    .timeline::after {
      left: 31px;
    }
  

    .timeline-container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  

    .timeline-container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
 
    .left::after, .right::after {
      left: 15px;
    }
  

    .right {
      left: 0%;
    }
  }
  
  #timeline-descp{
    color: #007464;
    font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  }
  #timeline-desp{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
 
  }
  .c1,.c2 {
  background: #007464;
  color: #EFF9F8;
  }
  
  .b2 ,.b1::before{
  border-right-color: #007464;
  }
  
  .b2::before{
  border-right-color: #007464;
  }
  
  
  .dg{
      display: flex;
  }
  
  .Years{
      margin-top: 186px;
      margin-left: 12%;
      color: #3BB0A0;
  
  }
  
  .H1,.H2{
  color: #007464;
  }
  

  
  .arrow {
    border: solid #B9BBBE;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 180px;
  
  
  }
  
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin-bottom: -100px;
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: 100px;
    margin-top: -70px;
  
  } */
  /* body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  font-size: 13px;
  direction: ltr;
} */
/* body{
  overflow-x: hidden;
}

.sectionClass {
  padding: 80px 0px 50px 0px;
  position: relative;
  display: block;
  background: rgb(249, 249, 249);
}

.row {
  width: 980px;
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.row:before,
.row:after {
  content: "";
  display: table;
}

.sectiontitle {
  background-position: center;
  text-align: center;
  min-height: 20px;
}

.sectiontitle h2 {
  font-size: 30px;
  color: #222;
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
}

.headerLine {
  width: 160px;
  height: 2px;
  display: inline-block;
  background: #101F2E;
}

.fullWidth {
  width: 100%;
  display: table;
  float: none;
  padding: 0;
  min-height: 1px;
  height: 100%;
  position: relative;
} */
/********************************/
/*  SECTION WORK EXPERIENCE
********************************/

/* #work-experience .sectiontitle .headerLine {
  width: 280px;
}

#work-experience .headerline {
  width: 280px;
}
.Year{
    font-size: 24px;
    padding-top: 40px;
    margin-right: 30px;
    width: 30px;
}
.cbp_tmtimeline {
  margin: 60px 30px 0 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.cbp_tmtimeline:before {
  content: '';
  position: absolute;
  top: 3%;
  bottom: 0;
  width: 10px;
  background: #324454;
  left: 13%;
  height: 100%;
}

.cbp_tmtimeline li:last-child:before {
  content: initial;
}

.cbp_tmtimeline > li .cbp_tmtime {
  display: block;
  width: 25%;
  padding-right: 100px;
  position: absolute;
}

.cbp_tmtimeline > li .cbp_tmtime span {
  display: block;
  text-align: right;
}

.cbp_tmtimeline > li .cbp_tmtime span:first-child {
  font-size: 0.9em;
  color: #bdd0db;
}

.cbp_tmtimeline > li .cbp_tmtime span:last-child {
  font-size: 2.9em;
  color: #3594cb;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
  color: #6cbfee;
}

.cbp_tmtimeline > li .cbp_tmlabel {
  margin: 0 0 15px 25%;
  background: rgba(50, 68, 84, 1);
  color: #FFF;
  padding: 30px;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.4;
  font-family: 'Open Sans';
  position: relative;
  border-radius: 5px;
  min-height: 150px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
  background: #2B3A48;
}

.cbp_tmtimeline > li .cbp_tmlabel h3 {
  margin-top: 0px;
  color: white;
  font-size: 20px;
  margin-bottom: 5px;
  padding: 0 0 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.cbp_tmtimeline > li .cbp_tmlabel h4 {
  opacity: 0.7;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 1.2em;
  font-weight: 600;
  padding: 0;
  padding-bottom: 10px;
  margin: 0;
  text-align: left;
}

.cbp_tmtimeline > li .cbp_tmlabel h4 i {
  margin-right: 5px;
  vertical-align: middle;
}

.cbp_tmtimeline > li .cbp_tmlabel:after {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: rgba(50, 68, 84, 1);
  border-width: 10px;
  top: 70px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
  border-right-color: #2B3A48;
}

.cbp_tmtimeline > li .cbp_tmicon {
  width: 150px;
  height: 150px;
  top: 3%;
 
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 1.4em;
  line-height: 40px;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  color: #151515;
  background: #324454;
  border-radius: 50%;
  text-align: center;
  left: 8%;
  margin: 0 0 0 -25px;
}

.cbp_tmtimeline li {
  margin-bottom: 70px;
  position: relative;
}

.sectionClassProject {
  position: relative;
  display: block;
 
  
  margin: 0 auto;
  padding: 80px 1.875em 3.125em;
}

.projectParagraph {
  font-size: 18px;
  margin: 0.5em 0 0;
  font-family: 'Source Sans Pro', serif;
}

.projectParagraphLink {
  font-size: 15px !important;
  font-weight: 500 !important;
  margin-top: 50px !important;
  margin-bottom: 0px;
  text-align: right;
}

.projectParagraphLink a {
  color: white;
  text-decoration: underline;
}

.cbp_tmicon img {
  width: 100%;
}

.faPra {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 70px;
  vertical-align: middle;
  color: white;
  line-height: 150px;
}

.label {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  color: #FFFFFF;
  display: inline;
  font-size: 12px;
  font-weight: bold;
  margin-right: 10px;
  padding: 5px 15px;
}

.date {
  color: #BFC3C7;
  display: block;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  top: 30px;
  right: 20px;
}

.date i {
  margin-right: 8px;
  vertical-align: top;
  font-size: 18px;
  line-height: 20px;
}

@media (max-width: 1024px) {
  .cbp_tmtimeline:before {
    display: none;
  }
  .cbp_tmtimeline > li .cbp_tmtime {
    width: 100%;
    position: relative;
    padding: 0 0 20px 0;
  }
  .cbp_tmtimeline > li .cbp_tmtime span {
    text-align: left;
  }
  .cbp_tmtimeline > li .cbp_tmlabel {
    margin: 30px 0 70px 0;
    padding: 50px 30px 30px 30px;
    font-weight: 400;
    font-size: 95%;
    float: left;
  }
  .cbp_tmtimeline > li .cbp_tmlabel:after {
    right: auto;
    border-right-color: transparent;
    border-bottom-color: rgb(50, 68, 84);
    top: -20px;
  }
  .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
    border-right-color: transparent;
    border-bottom-color: rgb(43, 58, 72);
    left: 65px;
  }
  .cbp_tmtimeline > li:nth-child(even) .cbp_tmlabel:after {
    right: 65px;
  }
  .cbp_tmtimeline > li:nth-child(odd) .cbp_tmicon {
    position: relative;
    float: left;
    left: auto;
    margin: 0px 5px 0 0px;
  }
  .cbp_tmtimeline > li:nth-child(even) .cbp_tmicon {
    position: relative;
    float: right;
    left: auto;
    margin: 0px 5px 0 0px;
  }
  .cbp_tmtimeline > li .cbp_tmtime span:last-child {
    font-size: 1.5em;
  }
}

@media (max-width: 32em) {
  .cbp-ntaccordion {
    font-size: 70%;
  }
} */

/* a {
	color: #f0f0f0;
	text-decoration: none;
}

a:hover {
	color: #000;
} */
body{
  overflow-x: hidden;
}
 .timeline-main,
.timeline-container > header {
	width: 90%;
	max-width: 69em;
	margin: 0 auto;
	padding: 0 1.875em 3.125em 1.875em;
}
/*
.container > header {
	padding: 2.875em 1.875em 1.875em;
}

.container > header h1 {
	font-size: 2.125em;
	line-height: 1.3;
	margin: 0 0 0.6em 0;
	float: left;
	font-weight: 400;
}

.container > header > span {
	display: block;
	position: relative;
	z-index: 9999;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	padding: 0 0 0.6em 0.1em;
}

.container > header > span span:after {
	width: 30px;
	height: 30px;
	left: -12px;
	font-size: 50%;
	top: -8px;
	font-size: 75%;
	position: relative;
}

.container > header > span span:hover:before {
	content: attr(data-content);
	text-transform: none;
	text-indent: 0;
	letter-spacing: 0;
	font-weight: 300;
	font-size: 110%;
	padding: 0.8em 1em;
	line-height: 1.2;
	text-align: left;
	left: auto;
	margin-left: 4px;
	position: absolute;
	color: #fff;
	background: #47a3da;
}

.container > header nav {
	float: right;
	text-align: center;
}

.container > header nav a {
	display: inline-block;
	position: relative;
	text-align: left;
	width: 2.5em;
	height: 2.5em;
	background: #fff;
	border-radius: 50%;
	margin: 0 0.1em;
	border: 4px solid #47a3da;
}

.container > header nav a > span {
	display: none;
}

.container > header nav a:hover:before {
	content: attr(data-info);
	color: #47a3da;
	position: absolute;
	width: 600%;
	top: 120%;
	text-align: right;
	right: 0;
	pointer-events: none;
}

.container > header nav a:hover {
	background: #47a3da;
}

.bp-icon:after {
	font-family: 'bpicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-align: center;
	color: #47a3da;
	-webkit-font-smoothing: antialiased;
}

.container > header nav .bp-icon:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	line-height: 2;
	text-indent: 0;
}

.container > header nav a:hover:after {
	color: #fff;
}

.bp-icon-next:after {
	content: "\e000";
}
.bp-icon-drop:after {
	content: "\e001";
}
.bp-icon-archive:after {
	content: "\e002";
}
.bp-icon-about:after {
	content: "\e003";
}
.bp-icon-prev:after {
	content: "\e004";
}

@media screen and (max-width: 55em) {

	.container > header h1,
	.container > header nav {
		float: none;
	}

	.container > header > span,
	.container > header h1 {
		text-align: center;
	}

	.container > header nav {
		margin: 0 auto;
	}

	.container > header > span {
		text-indent: 30px;
	}
} */
/* @font-face {
	font-family: 'ecoico';
	src:url('../fonts/timelineicons/ecoico.eot');
	src:url('../fonts/timelineicons/ecoico.eot?#iefix') format('embedded-opentype'),
		url('../fonts/timelineicons/ecoico.woff') format('woff'),
		url('../fonts/timelineicons/ecoico.ttf') format('truetype'),
		url('../fonts/timelineicons/ecoico.svg#ecoico') format('svg');
	font-weight: normal;
	font-style: normal;
}  */

.cbp_tmtimeline {
	margin: 30px 0 0 0;
	padding: 0;
	list-style: none;
	position: relative;
} 

/* The line */
.cbp_tmtimeline:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 6px;
	background:#3BB0A0;
	left: 33%;
	margin-left: -10px;
}

/* The date/time */
.cbp_tmtimeline > li {
	position: relative;
}

.cbp_tmtimeline > li .cbp_tmtime {
	display: block;
	width: 25%;
	padding-right: 100px;
	position: absolute;
}

.cbp_tmtimeline > li .cbp_tmtime span {
	display: block;
	text-align: right;
}

/* .cbp_tmtimeline > li .cbp_tmtime span:first-child {
	font-size: 0.9em;
	color: #bdd0db;
} */

.cbp_tmtimeline > li .cbp_tmtime span:last-child {
  margin-top: 15px;
  font-weight: bold;
	font-size: 2.5em;
	color: #007464;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
  margin-top: 15px;
  font-weight: bold;
	color: #3BB0A0;;
}

/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
	margin: 0 0 70px 50%;
	background:  #007464;
	color: #fff;
	padding: 2em;
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.4;
	position: relative;
	border-radius: 30px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
	background: #EFF9F8;
}

.cbp_tmtimeline > li .cbp_tmlabel h2 { 
	margin-top: 0px;
	padding: 0 0 10px 0;
	border-bottom: 1px solid rgba(255,255,255,0.4);
}
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel p{
  line-height: 30px;
  color: #007464;
  font-weight: bold;
  font-size: 20px;
}
.cbp_tmtimeline > li .cbp_tmlabel p{
  line-height: 30px;
  color:  #EFF9F8;
  font-weight: bold;
  font-size: 20px;
}
/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
  margin-top: 45px;
	border-right-color:  #007464;
	border-width: 10px;
	top: 10px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
	border-right-color: #EFF9F8;
}

/* The icons */
.cbp_tmtimeline > li .cbp_tmicon {
	width: 100px;
	height: 100px;
	font-family: 'ecoico';
	/* speak: none; */
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 1.4em;
	line-height: 40px;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	color: #fff;
	background: #EFF9F8;
  background-image: url("../../images/Bank.png");
  background-position: center;
  background-repeat: no-repeat;
	border-radius: 50%;
	/* box-shadow: 0 0 0 8px #afdcf8; */
  border: 6px solid #3BB0A0;
	text-align: center;
	left: 30%;
	top: 0;
	margin: 0 0 0 -25px;
}
.bank-icon{
  width: 50px;
  height: 50px;
  margin-top: 18px;
  margin-right: 15px;
}
/* .cbp_tmicon-phone:before {
	content: "\e000";
} */

.cbp_tmicon-screen:before {
	content: "\e001";
}

.cbp_tmicon-mail:before {
	content: "\e002";
}

.cbp_tmicon-earth:before {
	content: "\e003";
}

/* Example Media Queries */
@media screen and (max-width: 1100px){
  .cbp_tmtimeline:before{
    left: 33.5%;
  }
}
@media screen and (max-width: 65.375em) {

	.cbp_tmtimeline > li .cbp_tmtime span:last-child {
		font-size: 1.5em;
	}
  .cbp_tmtimeline:before{
    left: 34%;
  }
}

@media screen and (max-width: 47.2em) {
	.cbp_tmtimeline:before {
		display: none;
	}

	.cbp_tmtimeline > li .cbp_tmtime {
		width: 100%;
		position: relative;
		padding: 0 0 20px 0;
	}

	.cbp_tmtimeline > li .cbp_tmtime span {
		text-align: left;
	}

	.cbp_tmtimeline > li .cbp_tmlabel {
		margin: 0 0 30px 0;
		padding: 1em;
		font-weight: 400;
		font-size: 95%;
	}

	.cbp_tmtimeline > li .cbp_tmlabel:after {
		right: auto;
		left: 25px;
		border-right-color: transparent;
		border-bottom-color: #007464;
		top: -65px;
	}

	.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
    /* left: 3px; */
		border-right-color: transparent;
		border-bottom-color: #EFF9F8;
    margin-top: 45px;
	}

	.cbp_tmtimeline > li .cbp_tmicon {
    background-size: 30px;
    width: 50px;
    height: 50px;
		position: relative;
		float: right;
		left: auto;
		margin: -55px 5px 0 0px;
	}	
}
