#carousel {
    height:800px;
    width:104%;
}

#img {
    height:130vh;
}

#div {
    margin-top: -100vh;
    margin-left: -5vw;
    width:33vw;
    height:65vh;
}

#title {
    text-align: left;
    font-size:3.5vw;
}

#subTitle {
    padding-top:1vw;
    text-align: left;
    font-size:1.7vw;
}

#product {
    padding-top:1vw;
    text-align: left;
    font-size:1.5vw;
}

#product-title{
    text-align: left;
    margin-bottom: -2vh;
}

#span1{
    padding-right:57px;
    display:inline-block;
}

#span2 {
    display:inline-block;
}
 
#span3 {
    display:inline-block;
} 

#right-arrow {
    cursor: pointer;
    font-size: 36px;
    color:#3BB0A0;
}

#all-products {
    margin-top: 3vw;
    margin-left: -1vw;
}
.container {
    display:flex;
}

.fixed {
    width: 40px;
}

.flex-item {
    color: black;
    flex-grow: 0.3;
    padding-top: 1.5vh;
    padding-right: 1vh;
    font-size: 1.7vw;
}

#all-products {
    margin-top:2.8vh;
    font-size:1.4vw;
}

@media (max-width: 1068px) {
    #span1, #span2, #span3 {
        padding-right:15vw;
    }

    #all-products {
        font-size:1.4vw;
    }
    .flex-item { 
        font-size: 2.2vw;
    }
}

@media (max-width: 904px) {
    #subTitle {
        font-size:2vw;
    }

    #product {
        font-size: 1.8vw;
    }

    #span1, #span2, #span3 {
        font-size: 2.4vw;
        padding-right:30px;
    }
    .flex-item { 
        padding-top: 1.8vw;
    }
}

@media (max-width: 808px) {
    .flex-item { 
        padding-top: 1.7vw;
        font-size: 2.6vw;
    } 
}

