/* .main-container {
    background-color: #FAFAFA;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}

.know-more {
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
}

.h6 {
    text-align: center;
    color:#70757B;
}

.row {
    display: flex;
    flex-direction: row;
}

.section1 {
    flex: 50%;
}

.section2 {
    flex: 50%;
}

#contactForm {
    margin-right: 100px;
}

@media (max-width: 800px) {
    .row{
      flex-direction: column;
    }
}

#submit-button {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    margin-top: -30px;
    font-size: 17px;
    padding:10px;
    width:300px;
	background-color:#3BB0A0;
	border-color: #eceaea;
	color:white;
}

#submit-button:hover {
    background-color:#3dbdac;
}

.right-arrow {
    cursor: pointer;
    margin-top:300px;
    font-size: 34px;
    color:#3BB0A0;
    transition: font-size 2s;
}

.right-arrow:hover {
    color:#3dbdac;
    font-size: 38px;
}

.labels {
    width:20px;
	border-radius: 5px;
	border-color: #9b9a9a;
}

.labels:hover {
	border-color: #3BB0A0;
}



label {
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	color: #314259;
}

.select {
	margin-top:-20px;
}

.email {
	margin-left: 30px;
	width:500px;
	height:380px;
    padding-left: 5%;
}


@media (max-width: 1100px) {
.section1, .section2 {
	margin-left: 25%;
}

.email {
	margin-left: 30px;
	width:300px;
	height:300px;
}

}

@media (max-width: 1132px) {
.select, .comment {
	width: 150px;
}
}


@media (max-width: 804px) {
    .select, .comment {
        width: 30px;
    }
    
    #commentDiv, #selectDiv {
        width:60vw;
    }
}

@media (max-width: 772px) {
    #nameDiv, #emailDiv {
        width:60vw;
    }
}


@media (max-width: 664px) {
	.email {
		width:250px;
		height:250px;
	}
	} */

    .enquiry{
        background: #FAFAFA;
    }

    .enquiry-heading{
        text-align: center;
        justify-content: center;
        margin: 40px auto auto auto;
        font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 48px;
    }

    .enquiry-text{
        color: #70757B;
        text-align: center;
        justify-content: center;
        margin: auto;
        font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 60px;
    }

    #fname{
width: 18vw;
border-radius: 10px;
border: 1px solid #E0E0E0;
margin-bottom: 20px;
line-height: 2em;
    }

    #lname{
width: 18vw;
border-radius: 10px;
border: 1px solid #E0E0E0;
margin-bottom: 20px;
line-height: 2em;
}


    #products{
        width: 40vw;
        border-radius: 10px;
        border: 1px solid #E0E0E0;
        margin-bottom: 20px;
        line-height: 2em;
    }
    #comment{
        width: 40vw;
        border-radius: 10px;
        border: 1px solid #E0E0E0;
        margin-bottom: 20px;
        line-height: 2em;
        
    }
    #button{
        width: 30vw;
        background: #3BB0A0;
        border: none;
        padding: 20px;
        font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 24px;
/* identical to box height, or 133% */
letter-spacing: 0.2px;
color: #FFFFFF;
 }
    .enquiry-naming{
        display: flex;
        justify-content: space-between;
    }
    .enquiry-namingtext{
        display: flex;
        justify-content: space-between;
    
    }
    

.enquiry-half1 img{
    width: 30vw;
    margin-right: 20vw;
}
    .enquiry-body{
        display: flex;
        flex-flow: row;
        flex-basis: 100vw;
        
    }

    @media screen and (max-width: 992px) {
        .enquiry{
            display: flex;
            flex-flow: column;
        }
        .enquiry-body{
            
            flex-flow: column;
            margin-left: 10vw;
        }
      }
   