.slick-prev {
    left: 3% !important;
    z-index: 1;
}
.main_carousel{
    width:100vw;
    
}
.slick-next {
    right: 3% !important;
    z-index: 1;
}

.carousel-content{
    margin-left: 10%;
    padding-top:10% ;
    padding-right: 10%;
    
    
    
}
.carousel-head{
    font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 80px;
color: white;
}

.carousel-sub{
    margin-top: 20px;
    font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 44px;
color: white;
}

.carousel-sub2{
    margin-top: 30px;
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 24px;
color:white
}

.carousel-sub3{
    margin-top: 30px;
    font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 24px;
color: white;
}

.carousel-button{
    margin-top: 30px;
    
}

.carousel-button button{
    background-color: transparent;
    text-align: center;
    padding: 10px 30px;
    font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 24px;

}

#first-item {
 background-image: url("../../images/product_images/Group 18140547.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    
    
}

@media screen and (max-width: 600px) {
    
    /* #carousel-head{
width: fit-content;
display: flex;
flex-flow: column;
    } */
    /* #carousel-sub{
        width: fit-content;
        display: flex;
flex-flow: column;
    }
    #carousel-sub2{
        width: fit-content;
        display: flex;
flex-flow: column;
    }
    #carousel-sub3{
        width: fit-content;
        display: flex;
flex-flow: column;
    }
    #carousel-button{
        width: fit-content;
        display: flex;
flex-flow: column;
    } */
    /* .main-caro{
width: fit-content;
height: fit-content;
display: flex;
flex-flow: column;
    } */

     #first-item{
         display: flex;
        height: 1000px;
        
    } 
  }